# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Build
dist/
build/
.cache/
out/
.next/
.nuxt/
coverage/

# TypeScript
*.tsbuildinfo

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
.env/
.venv/
env/
venv/

# Logs
*.log
logs
*.pid
*.seed
*.pid.lock

# OS
.DS_Store
Thumbs.db

# IDEs/Editors
.vscode/
.idea/
*.swp
*.swo

# Env files
.env
.env.development.local
.env.test.local
.env.production.local
